# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Virtual environment
venv/
.venv/

# Mac system files
.DS_Store

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# SQL sessions
*.session.sql

# Env files
.env

# Logs
*.log